### Tuples as Data Structures

In [1]:
(10, 20, 30)

(10, 20, 30)

In [2]:
a = (10, 20, 30)
b = 10, 20, 30

In [3]:
type(a), type(b)

(tuple, tuple)

In [5]:
def print_tuple(t):
    for e in t:
        print(e)

In [6]:
print_tuple(10, 20, 30)

TypeError: print_tuple() takes 1 positional argument but 3 were given

In [7]:
print((10, 20, 30))

(10, 20, 30)

In [8]:
a = 'a', 10, 200

In [9]:
a[0]

'a'

In [10]:
a[1]

10

In [11]:
a = 1, 2, 3, 4, 5, 6

In [13]:
a[2:5]

(3, 4, 5)

In [14]:
for e in a:
    print(e)

1
2
3
4
5
6

In [15]:
a = 'a', 10, 20

In [16]:
x, y, z = a

In [17]:
print(x, y, z)

a 10 20

In [18]:
a = 1, 2, 3, 4, 5

In [19]:
x, *other, y, z = a

In [20]:
print(x, y, z)

1 4 5

In [21]:
other

[2, 3]

In [22]:
x, *_, y, z = a

In [23]:
a[0]

1

In [24]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [25]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y={self.y})'

In [31]:
pt = Point2D(10, 20)

In [32]:
id(pt)

139796525331376

In [33]:
pt.x = 100

In [34]:
pt

Point2D(x=100, y=20)

In [35]:
id(pt)

139796525331376

In [42]:
a = Point2D(0, 0), Point2D(10, 20)

In [43]:
id(a[0])

139796525319808

In [44]:
a[0].x

0

In [45]:
a[0].x = 100

In [46]:
a

(Point2D(x=100, y=0), Point2D(x=10, y=20))

In [47]:
s = 'python'

In [48]:
id(s)

139797007989520

In [49]:
s = 'python' + ' rocks!'

In [50]:
id(s)

139796512256624

In [51]:
s

'python rocks!'

In [52]:
a = 1, 2, 3

In [53]:
id(a)

139796512218368

In [54]:
a += (4, 5)

In [55]:
a

(1, 2, 3, 4, 5)

In [56]:
id(a)

139796512203024

In [57]:
a = a + (4, 5)

In [58]:
a

(1, 2, 3, 4, 5, 4, 5)

In [59]:
pt1 = (0, 0)
pt2 = (10, 20)

In [60]:
london = 'London', 'UK', 8_780_000
new_york = 'New York', 'USA', 8_500_000
beijing = 'Beijing', 'China', 21_000_000

In [63]:
london

('London', 'UK', 8780000)

In [64]:
cities = [london, new_york, beijing]

In [65]:
total = 0
for city in cities:
    total += city[2]
print(total)

38280000

In [ ]:
total = sum(city[2] for city in cities)

38280000

In [68]:
record = ('DIJA', 2018, 1, 19, 25987.35, 26071.72, 25942.83, 26071.72)
symbol, year, month, day, open_, high, low, close = record

In [69]:
symbol

'DIJA'

In [70]:
close

26071.72

In [71]:
symbol, *_, close = record

In [72]:
symbol, close

('DIJA', 26071.72)

In [73]:
for city in cities:
    print(city)

('London', 'UK', 8780000)
('New York', 'USA', 8500000)
('Beijing', 'China', 21000000)

In [74]:
for city, country, population in cities:
    print(city, country, population)

London UK 8780000
New York USA 8500000
Beijing China 21000000

In [75]:
for item in enumerate(cities):
    print(item)

(0, ('London', 'UK', 8780000))
(1, ('New York', 'USA', 8500000))
(2, ('Beijing', 'China', 21000000))

In [76]:
for index, city in enumerate(cities):
    print(index, city)

0 ('London', 'UK', 8780000)
1 ('New York', 'USA', 8500000)
2 ('Beijing', 'China', 21000000)

In [ ]:
from random import uniform
from math import sqrt

def random_shot(radius):
    random_x = uniform(-radius, radius)
    random_y = uniform(-radius, radius)

    if sqrt(random_x ** 2 + random_y ** 2) <= radius:
        is_in_circle = True
    else:
        is_in_circle = False
    return random_x, random_y, is_in_circle

num_attempts = 100
count_inside = 0
for i in range(num_attempts):