### Mapping and Reducing

In [1]:
maps = map(lambda x: x**2, range(5))

In [2]:
type(maps)

map

In [3]:
iter(maps) is maps

True

In [4]:
'__next__' in dir(maps)

True

In [5]:
list(maps)

[0, 1, 4, 9, 16]

In [6]:
def add(t):
    return t[0] + t[1]

In [7]:
list(map(add, [(0,0), [1, 1], range(2, 4)]))

[0, 2, 5]

In [8]:
def add(x, y):
    return x + y

In [10]:
t = (2, 3)
add(t)

TypeError: add() missing 1 required positional argument: 'y'

In [11]:
add(*t)

5

In [12]:
list(map(add, [(0,0), [1, 1], range(2, 4)]))

TypeError: add() missing 1 required positional argument: 'y'

In [13]:
[add(*t) for t in [(0,0), [1, 1], range(2, 4)]]

[0, 2, 5]

In [14]:
from itertools import starmap

In [15]:
list(starmap(add, [(0,0), [1, 1], range(2, 4)]))

[0, 2, 5]

In [16]:
sum([10, 20, 30])

60

In [17]:
sum(range(10, 40, 10))

60

In [18]:
from functools import reduce

In [19]:
reduce(lambda x, y: x * y, [1, 2, 3, 4])

24

In [20]:
reduce(lambda x, y: x * y, [1, 2, 3, 4], 10)

240

In [21]:
def sum_(iterable):
    it = iter(iterable)
    acc = next(it)
    yield acc
    for item in it:
        acc += item
        yield acc

In [23]:
for item in sum_([10, 20, 30]):
    print(item)

10
30
60