### Grouping

In [2]:
import itertools

In [3]:
with open ('cars_2014.csv') as f:
    for row in itertools.islice(f, 0, 20):
        print(row, end='')

make,model
ACURA,ILX
ACURA,MDX
ACURA,RDX
ACURA,RLX
ACURA,TL
ACURA,TSX
ALFA ROMEO,4C
ALFA ROMEO,GIULIETTA
APRILIA,CAPONORD 1200
APRILIA,RSV4 FACTORY APRC ABS
APRILIA,RSV4 R APRC ABS
APRILIA,SHIVER 750
ARCTIC CAT,1000 XT
ARCTIC CAT,500 XT
ARCTIC CAT,550 XT
ARCTIC CAT,700 LTD
ARCTIC CAT,700 SUPER DUTY DIESEL
ARCTIC CAT,700 XT
ARCTIC CAT,90 2X4 4-STROKE

In [4]:
from collections import defaultdict

In [10]:
makes = defaultdict(int)

In [7]:
makes['asdf']

0

In [8]:
makes['bmw'] += 1

In [9]:
makes['bmw']

1

In [11]:
with open('cars_2014.csv') as f:
    next(f)
    for row in f:
        make, _ = row.strip('\n').split(',')
        makes[make] += 1

In [12]:
for key, value in makes.items():
    print(f'{key}: {value}')

ACURA: 6
ALFA ROMEO: 2
APRILIA: 4
ARCTIC CAT: 96
ARGO: 4
ASTON MARTIN: 5
AUDI: 27
BENTLEY: 2
BLUE BIRD: 1
BMW: 86
BUGATTI: 1
BUICK: 5
CADILLAC: 7
CAN-AM: 61
CHEVROLET: 33
CHRYSLER: 2
DODGE: 7
DUCATI: 4
FERRARI: 6
FIAT: 2
FORD: 34
FREIGHTLINER: 7
GMC: 12
HARLEY DAVIDSON: 29
HINO: 7
HONDA: 91
HUSABERG: 4
HUSQVARNA: 9
HYUNDAI: 13
INDIAN: 3
INFINITI: 8
JAGUAR: 9
JEEP: 5
JOHN DEERE: 19
KAWASAKI: 59
KENWORTH: 11
KIA: 10
KTM: 13
KUBOTA: 4
KYMCO: 28
LAMBORGHINI: 2
LAND ROVER: 6
LEXUS: 14
LINCOLN: 6
LOTUS: 1
MACK: 9
MASERATI: 3
MAZDA: 5
MCLAREN: 2
MERCEDES-BENZ: 60
MINI: 3
MITSUBISHI: 8
NISSAN: 24
PEUGEOT: 3
POLARIS: 101
PORSCHE: 4
RAM: 6
RENAULT: 4
ROLLS ROYCE: 3
SCION: 5
SEAT: 3
SKI-DOO: 67
SMART: 1
SRT: 1
SUBARU: 10
SUZUKI: 48
TESLA: 2
TOYOTA: 19
TRIUMPH: 10
VESPA: 4
VICTORY: 14
VOLKSWAGEN: 16
VOLVO: 8
YAMAHA: 110

In [17]:
data = (1, 2, 2, 2, 3)

In [18]:
list(itertools.groupby(data))

[(1, <itertools._grouper at 0x7f20505f1c60>),
 (2, <itertools._grouper at 0x7f20505f3370>),
 (3, <itertools._grouper at 0x7f20505f25c0>)]

In [19]:
it = itertools.groupby(data)

In [20]:
for group_key, sub_iter in it:
    print(group_key, list(sub_iter))

1 [1]
2 [2, 2, 2]
3 [3]

In [22]:
data = (
    (1, 'abc'),
    (1, 'bcd'),
    (2, 'pyt'),
    (2, 'yth'),
    (2, 'tho'),
    (3, 'hon'),
)

In [23]:
data

((1, 'abc'), (1, 'bcd'), (2, 'pyt'), (2, 'yth'), (2, 'tho'), (3, 'hon'))

In [26]:
groups = itertools.groupby(data, key=lambda x: x[0])

In [25]:
list(groups)

[(1, <itertools._grouper at 0x7f2050677fd0>),
 (2, <itertools._grouper at 0x7f20506777c0>),
 (3, <itertools._grouper at 0x7f205065b040>)]

In [27]:
for key, sub_iter in groups:
    print(key, list(sub_iter))

1 [(1, 'abc'), (1, 'bcd')]
2 [(2, 'pyt'), (2, 'yth'), (2, 'tho')]
3 [(3, 'hon')]

In [28]:
def gen_groups():
    for key in range(1, 4):
        for i in range(3):
            yield(key, i)

In [36]:
g = gen_groups()

In [37]:
groups = itertools.groupby(g, key=lambda x: x[0])

In [38]:
for group in groups:
    print(group[0], list(group[1]))

1 [(1, 0), (1, 1), (1, 2)]
2 [(2, 0), (2, 1), (2, 2)]
3 [(3, 0), (3, 1), (3, 2)]

In [39]:
list(g)

[]

In [40]:
list(groups)

[]

In [41]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f, key=lambda x: x.split(',')[0])

In [42]:
list(make_groups)

ValueError: I/O operation on closed file.

In [43]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f, key=lambda x: x.split(',')[0])
    print(list(itertools.islice(make_groups, 5)))

[('ACURA', <itertools._grouper object at 0x7f2050431090>), ('ALFA ROMEO', <itertools._grouper object at 0x7f2050433fa0>), ('APRILIA', <itertools._grouper object at 0x7f2050432890>), ('ARCTIC CAT', <itertools._grouper object at 0x7f20504316c0>), ('ARGO', <itertools._grouper object at 0x7f20504307f0>)]

In [44]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f, key=lambda x: x.split(',')[0])
    make_counts = ((key, len(models)) for key, models in make_groups)
    print(list(make_counts))

TypeError: object of type 'itertools._grouper' has no len()

In [46]:
def squares(n):
    for i in range(n):
        yield i ** 2

In [47]:
sq = squares(5)

In [48]:
i = 0
for item in sq:
    i += 1
print(i)

5

In [49]:
def len_iterable(iterable):
    i = 0
    for item in iterable:
        i += 1
    return i

In [50]:
len_iterable(squares(5))

5

In [51]:
'a', 'b', 'c'

('a', 'b', 'c')

In [52]:
sum((1, 1, 1))

3

In [53]:
sum(1 for i in squares(8))

8

In [54]:
with open('cars_2014.csv') as f:
    next(f)
    make_groups = itertools.groupby(f, key=lambda x: x.split(',')[0])
    make_counts = ((key, sum(1 for model in models))
                   for key, models in make_groups)
    print(list(make_counts))

[('ACURA', 6), ('ALFA ROMEO', 2), ('APRILIA', 4), ('ARCTIC CAT', 96), ('ARGO', 4), ('ASTON MARTIN', 5), ('AUDI', 27), ('BENTLEY', 2), ('BLUE BIRD', 1), ('BMW', 86), ('BUGATTI', 1), ('BUICK', 5), ('CADILLAC', 7), ('CAN-AM', 61), ('CHEVROLET', 33), ('CHRYSLER', 2), ('DODGE', 7), ('DUCATI', 4), ('FERRARI', 6), ('FIAT', 2), ('FORD', 34), ('FREIGHTLINER', 7), ('GMC', 12), ('HARLEY DAVIDSON', 29), ('HINO', 7), ('HONDA', 91), ('HUSABERG', 4), ('HUSQVARNA', 9), ('HYUNDAI', 13), ('INDIAN', 3), ('INFINITI', 8), ('JAGUAR', 9), ('JEEP', 5), ('JOHN DEERE', 19), ('KAWASAKI', 59), ('KENWORTH', 11), ('KIA', 10), ('KTM', 13), ('KUBOTA', 4), ('KYMCO', 28), ('LAMBORGHINI', 2), ('LAND ROVER', 6), ('LEXUS', 14), ('LINCOLN', 6), ('LOTUS', 1), ('MACK', 9), ('MASERATI', 3), ('MAZDA', 5), ('MCLAREN', 2), ('MERCEDES-BENZ', 60), ('MINI', 3), ('MITSUBISHI', 8), ('NISSAN', 24), ('PEUGEOT', 3), ('POLARIS', 101), ('PORSCHE', 4), ('RAM', 6), ('RENAULT', 4), ('ROLLS ROYCE', 3), ('SCION', 5), ('SEAT', 3), ('SKI-DOO', 67), ('SMART', 1), ('SRT', 1), ('SUBARU', 10), ('SUZUKI', 48), ('TESLA', 2), ('TOYOTA', 19), ('TRIUMPH', 10), ('VESPA', 4), ('VICTORY', 14), ('VOLKSWAGEN', 16), ('VOLVO', 8), ('YAMAHA', 110)]