### Relevant Python 3.8 Changes

##### Positional only arguments

In [2]:
print('a')

a

In [3]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [4]:
print(value='a')

TypeError: 'value' is an invalid keyword argument for print()

In [5]:
def my_func(a, b):
    return a + b

In [6]:
my_func(1, 2)

3

In [7]:
my_func(b=2, a=1)

3

In [9]:
def my_func(a, b, *, c):
    return a + b + c

In [10]:
my_func(1, 2, 3)

TypeError: my_func() takes 2 positional arguments but 3 were given

In [11]:
def my_func(a, b, /):
    return a + b

In [12]:
my_func(1, 2)

3

In [13]:
my_func(a=1, b=2)

TypeError: my_func() got some positional-only arguments passed as keyword arguments: 'a, b'

In [17]:
def my_func(a, b, /, *, c):
    return a + b + c

In [18]:
my_func(1, 2, 3)

TypeError: my_func() takes 2 positional arguments but 3 were given

In [19]:
my_func(1, 2, c=3)

6

##### f-strings

In [20]:
a, b = 'hello', 'world'

In [21]:
print(f'a={a}, b={b}')

a=hello, b=world

In [22]:
print(f'{a=}, {b=}')

a='hello', b='world'

In [23]:
print(f'{a=:s}, {b=:s}')

a=hello, b=world

In [24]:
from datetime import datetime
from math import pi

In [25]:
d = datetime.now()
e = pi

In [26]:
print(f'{d=}, {e=}')

d=datetime.datetime(2025, 12, 29, 12, 31, 19, 949201), e=3.141592653589793

In [34]:
print(f'{d=:%Y-%m-%d %H:%M:%S}, {e=:.3f}')

d=2025-12-29 12:31:19, e=3.142

In [35]:
print(f'{1+2}')

3

In [37]:
print(f'{1+2=}')

1+2=3

In [38]:
sentence = ["Python", "rocks!"]
print(f'{1+2=}, {' '.join(sentence)=}')

1+2=3, ' '.join(sentence)='Python rocks!'

##### as integer ratio

In [39]:
a = 100.5
a.as_integer_ratio()

(201, 2)

In [40]:
from fractions import Fraction

In [41]:
f = Fraction(1, 2)

In [42]:
f.as_integer_ratio()

(1, 2)

In [43]:
f = Fraction(2, 4)

In [44]:
f

Fraction(1, 2)

In [45]:
f.as_integer_ratio()

(1, 2)

In [46]:
a = 12

In [47]:
a.as_integer_ratio()

(12, 1)

##### lru_cache decorator

In [48]:
from functools import lru_cache

In [49]:
@lru_cache(maxsize=3)
def fib(n):
    if n <= 2:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [50]:
@lru_cache
def fib(n):
    if n <= 2:
        return 1
    else:
        return fib(n-1) + fib(n-2)

##### math module

In [51]:
import math

In [52]:
a = (0, 0)
b = (1, 1)

In [53]:
dist = math.sqrt((b[0] - a[0]) ** 2 + (b[1] - a[1]) ** 2)

In [54]:
dist

1.4142135623730951

In [55]:
math.dist(a, b)

1.4142135623730951

##### Named tuples

In [56]:
from collections import namedtuple

In [57]:
NT = namedtuple("NT", 'a b c', defaults=(10, 20, 30))

In [58]:
nt = NT()

In [59]:
nt

NT(a=10, b=20, c=30)

In [60]:
NT = namedtuple("NT", 'a b c', defaults=(20, 30))

In [61]:
nt = NT(10)

In [62]:
NT = namedtuple('NT', "a b c d e f", defaults=("xyz",) * 6)

In [63]:
nt = NT()

In [64]:
nt

NT(a='xyz', b='xyz', c='xyz', d='xyz', e='xyz', f='xyz')

In [66]:
nt = NT(c=100)

In [67]:
nt

NT(a='xyz', b='xyz', c=100, d='xyz', e='xyz', f='xyz')

In [68]:
NT = namedtuple("NT", 'a b c', defaults=([],) * 3)

In [69]:
nt = NT()

In [70]:
nt

NT(a=[], b=[], c=[])

In [71]:
nt.a.append(100)

In [72]:
nt

NT(a=[100], b=[100], c=[100])