### Relevant Python 3.8 Changes

In [2]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [3]:
print(value="a")

TypeError: 'value' is an invalid keyword argument for print()

In [4]:
def my_func(a, b):
    return a + b

In [5]:
my_func(1, 2)

3

In [6]:
my_func(b=2, a=1)

3

In [7]:
def my_func(a, b, *, c):
    return a + b + c

In [8]:
my_func(1, 2, c=3)

6

In [9]:
my_func(1, 2, 3)

TypeError: my_func() takes 2 positional arguments but 3 were given

In [10]:
def my_func(a, b, /):
    return a + b

In [11]:
my_func(1, 2)

3

In [13]:
my_func(a=1, b=2)

TypeError: my_func() got some positional-only arguments passed as keyword arguments: 'a, b'

In [16]:
def my_func(a, b, /, *, c):
    return a + b + c

In [17]:
my_func(1, 2, c=3)

6

In [18]:
my_func(1, 2, 3)

TypeError: my_func() takes 2 positional arguments but 3 were given

In [19]:
a, b = 'hello', 'world'

In [20]:
print(f'a={a}, b={b}')

a=hello, b=world

In [21]:
print(f'{a=}, {b=}')

a='hello', b='world'

In [22]:
print(f'{a=:s}, {b=:s}')

a=hello, b=world

In [23]:
from datetime import datetime
from math import pi

In [25]:
d = datetime.now()
e = pi

In [26]:
print(f'{d=}, {e=}')

d=datetime.datetime(2025, 12, 12, 13, 9, 41, 26549), e=3.141592653589793

In [28]:
print(f'{d=:%Y-%m-%d %H:%M:%S}, {e=:.3f}')

d=2025-12-12 13:09:41, e=3.142

In [33]:
sentence = ['Python', 'rocks!']
print(f'{1 + 2=}, {' '.join(sentence)=:s}')

1 + 2=3, ' '.join(sentence)=Python rocks!

In [34]:
a = 100.5
a.as_integer_ratio()

(201, 2)

In [35]:
bool = True
bool.as_integer_ratio()

(1, 1)

In [36]:
from fractions import Fraction
f = Fraction(1, 2)

In [37]:
f.as_integer_ratio()

(1, 2)

In [38]:
a = 12
a.as_integer_ratio()

(12, 1)

In [39]:
from functools import lru_cache

In [40]:
@lru_cache(maxsize=3)
def fib(n):
    if n <= 2:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [41]:
fib(100)

354224848179261915075

In [42]:
@lru_cache()
def fib(n):
    if n <= 2:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [43]:
@lru_cache
def fib(n):
    if n <= 2:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [44]:
fib(100)

354224848179261915075

In [45]:
import math
a = (0, 0)
b = (1, 1)

In [46]:
dist = math.sqrt((b[0] - a[1]) ** 2 + (b[1] - a[1]) ** 2)
print(dist)

1.4142135623730951

In [47]:
math.dist(a, b)

1.4142135623730951

In [54]:
from collections import namedtuple
NT = namedtuple('NT', 'a b c', defaults=(20, 30))

In [55]:
nt = NT(10)

In [56]:
nt

NT(a=10, b=20, c=30)

In [57]:
nt = NT(10)

In [59]:
NT = namedtuple('NT', 'a b c d e f', defaults=('xyz',) * 6)

In [64]:
nt = NT(c=100)

In [65]:
nt

NT(a='xyz', b='xyz', c=100, d='xyz', e='xyz', f='xyz')

In [66]:
NT = namedtuple('NT', 'a b c', defaults=([],) * 3)

In [67]:
nt = NT()

In [69]:
nt

NT(a=[], b=[], c=[])

In [70]:
nt.a.append(100)

In [71]:
nt

NT(a=[100], b=[100], c=[100])

In [72]:
NT = namedtuple('NT', 'a b c', defaults=(10, 20, 30))

In [73]:
nt = NT()

In [74]:
nt

NT(a=10, b=20, c=30)

In [75]:
NT._field_defaults

{'a': 10, 'b': 20, 'c': 30}

In [76]:
nt._asdict()

{'a': 10, 'b': 20, 'c': 30}

In [77]:
d = {'a': 1, 'b': 2}

In [78]:
list(d.keys())

['a', 'b']

In [80]:
list(reversed(d.keys()))

['b', 'a']

In [81]:
a = 10

In [82]:
b = 10

In [83]:
a is b

True

In [84]:
a is 1

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
/tmp/ipykernel_2674/3222642818.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  a is 1

False

In [85]:
a = [1, 2, 3]

In [86]:
b = [1, 2, 3]

In [87]:
a == b

True

In [88]:
a is b

False