### Marshmallow

In [29]:
class Person:
    def __init__(self, first_name, last_name, dob, height):
        self.first_name = first_name
        self.last_name = last_name
        self.dob = dob
        self.height = height

    def __repr__(self):
        return f'Person({self.first_name}, {self.last_name}, {self.dob}, {self.height})'

In [30]:
from datetime import date

In [31]:
p1 = Person('John', 'Cleese', date(1939, 10, 27), 182)

In [32]:
p1

Person(John, Cleese, 1939-10-27, 182)

In [33]:
from marshmallow import Schema, fields

In [34]:
class PersonSchema(Schema):
    first_name = fields.Str()
    last_name = fields.Str()
    dob = fields.Date()
    height = fields.Int()

In [35]:
person_schema = PersonSchema()

In [36]:
person_schema.dump(p1)

{'first_name': 'John',
 'last_name': 'Cleese',
 'dob': '1939-10-27',
 'height': 182}

In [37]:
data = person_schema.dump(p1)

In [38]:
data

{'first_name': 'John',
 'last_name': 'Cleese',
 'dob': '1939-10-27',
 'height': 182}

In [39]:
print(type(p1), p1)
print(type(data), data)

<class '__main__.Person'> Person(John, Cleese, 1939-10-27, 182)
<class 'dict'> {'first_name': 'John', 'last_name': 'Cleese', 'dob': '1939-10-27', 'height': 182}

In [40]:
type(data['height'])

int

In [41]:
data_json = person_schema.dumps(p1)

In [42]:
data_json

'{"first_name": "John", "last_name": "Cleese", "dob": "1939-10-27", "height": 182}'

In [43]:
type(data_json)

str

In [44]:
from collections import namedtuple

In [47]:
PT = namedtuple('PT', 'first_name, last_name, dob, height')

In [48]:
p2 = PT('Eric', 'Idle', date(1943, 3, 29), 178)

In [49]:
p2

PT(first_name='Eric', last_name='Idle', dob=datetime.date(1943, 3, 29), height=178)

In [51]:
person_schema.dumps(p2)

'{"first_name": "Eric", "last_name": "Idle", "dob": "1943-03-29", "height": 178}'

In [53]:
PT2 = namedtuple('PT2', 'first_name, last_name, age')
p3 = PT2('Michael', 'Palin', 75)

In [54]:
person_schema.dumps(p3)

'{"first_name": "Michael", "last_name": "Palin"}'

In [55]:
person_partial = PersonSchema(only=('first_name', 'last_name'))

In [56]:
person_schema.dumps(p1)

'{"first_name": "John", "last_name": "Cleese", "dob": "1939-10-27", "height": 182}'

In [57]:
person_partial.dumps(p1)

'{"first_name": "John", "last_name": "Cleese"}'

In [58]:
person_partial2 = PersonSchema(exclude=['dob'])

In [59]:
person_partial2.dumps(p1)

'{"first_name": "John", "last_name": "Cleese", "height": 182}'

In [ ]:
class PersonSchema(Schema):
    first_name = fields.Str()
    last_name = fields.Str()
    dob = fields.Date()
    height = fields.Int()

In [62]:
p4 = Person(100, None, 200, 'abc')

In [64]:
person_schema.dumps(p4)

TypeError: descriptor 'isoformat' for 'datetime.date' objects doesn't apply to a 'int' object

In [65]:
class Movie:
    def __init__(self, title, year, actors):
        self.title = title
        self.year = year
        self.actors = actors

In [66]:
class MovieSchema(Schema):
    title = fields.Str()
    year = fields.Integer()
    actors = fields.Nested(PersonSchema, many=True)

In [67]:
p1, p2

(Person(John, Cleese, 1939-10-27, 182),
 PT(first_name='Eric', last_name='Idle', dob=datetime.date(1943, 3, 29), height=178))

In [68]:
parrot = Movie('Parrot Sketch', 1989, [p1, PT('Michael', 'Palin', date(1943, 5, 5), 177)])

In [69]:
parrot

In [74]:
MovieSchema().dumps(parrot)

'{"title": "Parrot Sketch", "year": 1989, "actors": [{"first_name": "John", "last_name": "Cleese", "dob": "1939-10-27", "height": 182}, {"first_name": "Michael", "last_name": "Palin", "dob": "1943-05-05", "height": 177}]}'

In [75]:
class PersonSchema(Schema):
    first_name = fields.Str()
    last_name = fields.Str()
    dob = fields.Date()
    height = fields.Int()

In [76]:
person_scheam = PersonSchema()

In [78]:
person_schema.load(dict(first_name='John',
                        last_name='Cleese',
                        dob='1939-10-27',
                        height=178))

{'first_name': 'John',
 'last_name': 'Cleese',
 'dob': datetime.date(1939, 10, 27),
 'height': 178}