### YAML Format

In [6]:
import yaml
from yaml import Loader

In [2]:
data = '''
---
title: Parrot Sketch
year: 1989
actors:
    - first_name: John
      last_name: Cleese
      dob: 1939-10-27
    - first_name: Michael
      last_name: Palin
      dob: 1943-05-05
'''

In [8]:
d = yaml.load(data, Loader=Loader)

In [9]:
type(d)

dict

In [10]:
d

{'title': 'Parrot Sketch',
 'year': 1989,
 'actors': [{'first_name': 'John',
   'last_name': 'Cleese',
   'dob': datetime.date(1939, 10, 27)},
  {'first_name': 'Michael',
   'last_name': 'Palin',
   'dob': datetime.date(1943, 5, 5)}]}

In [11]:
d = {'a': 100, 'b': False, 'c': 10.5, 'd': [1, 2, 3]}

In [18]:
print(yaml.dump(d))

a: 100
b: false
c: 10.5
d:
- 1
- 2
- 3

In [21]:
print(yaml.dump(d, default_flow_style=False))

a: 100
b: false
c: 10.5
d:
- 1
- 2
- 3

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __repr__(self):
        return f'Person(name={self.name}, age={self.age})'

In [23]:
from datetime import date

In [24]:
p1 = Person('John Cleese', date(1939, 10, 27))
p2 = Person('Michael Palin', date(1934, 5, 5))

In [25]:
print(yaml.dump({'john': p1, 'michael': p2}))

john: !!python/object:__main__.Person
  age: 1939-10-27
  name: John Cleese
michael: !!python/object:__main__.Person
  age: 1934-05-05
  name: Michael Palin

In [26]:
yaml_data = '''
john: !!python/object:__main__.Person
    age: 1939-10-27
    name: John Cleese
michael: !!python/object:__main__.Person
    age: 1934-05-05
    name: Michael Palin
'''

In [28]:
yaml.load(yaml_data, Loader=Loader)

{'john': Person(name=John Cleese, age=1939-10-27),
 'michael': Person(name=Michael Palin, age=1934-05-05)}